#### Poner bonita y recta esa matriz

[[' ' ' ' ' ' 'üö£' ' ' ' ' ' ' 'üõ≥' 'üõ≥' 'üõ≥']
 [' ' ' ' ' ' 'üö¢' 'üö¢' ' ' ' ' ' ' ' ' ' ']
 [' ' ' ' ' ' ' ' ' ' ' ' ' ' 'üö¢' ' ' ' ']
 [' ' ' ' 'üö¢' 'üö¢' ' ' ' ' ' ' 'üö¢' ' ' ' ']
 [' ' 'üö§' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ']
 [' ' 'üö§' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ']
 [' ' 'üö§' ' ' ' ' ' ' ' ' 'üö£' ' ' ' ' ' ']
 ['üö£' 'üö§' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ']
 [' ' ' ' 'üõ≥' 'üõ≥' 'üõ≥' ' ' ' ' ' ' ' ' ' ']
 [' ' 'üö£' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ' ']]

In [8]:
import numpy as np
from tabulate import tabulate
import pandas as pd

TAM_TABLERO = 10
TAM_BARCOS = [1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
EMOJIS = {1: "üö£", 2: "üö¢", 3: "üõ≥Ô∏è", 4: "üö§"}



def generar_tablero(tablero_input):
    '''
    Esta funci√≥n es la encargada de generar los tableros y de posicionar los barcos en ellos.
    '''
    # Diccionario que relaciona un n√∫mero entero (que representa el tama√±o de un barco) con un emoji correspondiente
    barcos = []
    for tam_barco in TAM_BARCOS:
        colocado = False
        while not colocado:
            fila, col = np.random.randint(TAM_TABLERO), np.random.randint(TAM_TABLERO)
            direccion = np.random.choice(['arriba', 'abajo', 'izquierda', 'derecha'])
            if direccion == 'arriba':
                posiciones = [(fila-i, col) for i in range(tam_barco)]
            elif direccion == 'abajo':
                posiciones = [(fila+i, col) for i in range(tam_barco)]
            elif direccion == 'izquierda':
                posiciones = [(fila, col-i) for i in range(tam_barco)]
            else:
                posiciones = [(fila, col+i) for i in range(tam_barco)]
            if all(0<=fila<TAM_TABLERO and 0<=col<TAM_TABLERO and tablero_input[fila, col]==" " for fila, col in posiciones):
                barco = {"tam": tam_barco, "posiciones": posiciones}
                barcos.append(barco)
                for fila, col in posiciones:
                    tablero_input[fila, col] = EMOJIS[tam_barco]
                colocado = True
    
    return tablero_input

tablero_jugador = generar_tablero(np.full((TAM_TABLERO, TAM_TABLERO), " "))
tablero_maquina = generar_tablero(np.full((TAM_TABLERO, TAM_TABLERO), " "))

### Est√©tica de la tabla usando una funci√≥n

In [9]:
def estilo_celda(valor):
    if valor.strip() == "":
        return "background-color: lightgray"
    elif valor.isnumeric():
        return "background-color: lightblue"
    else:
        return ""

estilo = df_jugador.style.applymap(estilo_celda).set_properties(**{'font-size': '20px', 'text-align': 'center'})

display(estilo)